
    <b>General Notifications: </b><input type="checkbox" ng-model="settings.general"> <b>Timeout: </b><input type="text" ng-disabled="!settings.general" ng-model="settings.generalTimeout"><br/>
    <b>Mention Notifications: </b><input type="checkbox" ng-model="settings.mentions"> <b>Timeout: </b><input type="text" ng-disabled="!settings.mentions" ng-model="settings.mentionTimeout"><br/>
    <b>Chat Height: </b><input type="text" ng-model="settings.chatHeight"
             ng-model-options="{ updateOn: 'blur' }"><br/>
    <b>Notify when chat active: </b><input type="checkbox" ng-model="settings.notifyWhenChatActive"><br/>
